

.Message-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  margin: auto;
  width: 30%;
  height: 20%;
  border-radius: 3px;
  top: 0; left: 0; bottom: 0; right: 0;
  align-self: center;
  padding: 40px;
  z-index: 15;
  border: 2px solid #010c3f;
  background-color: #fff;
  max-width: 37.5rem;
  min-width: 15rem;
}

.Confirmation {
  background-color: #010c3f;
  color: #fff;
  line-height: 36px;
  height: 36px;
  padding: 0px 20px;
  border: 1px solid transparent;
  cursor: pointer;
  outline: none;
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
  white-space: nowrap;
}
.Message-text {
 color: #6c41ec;
 background-color: #fff;
}
